In [13]:
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from flask import Flask, render_template
import pymongo

In [14]:
def init_browser():
    executable_path = {"executable_path":"chromedriver.exe"}
    browser = Browser('chrome',**executable_path, headless=False)

def scrape_info():
    browser=init_browser   
    
    url = 'https://mars.nasa.gov/news/'
    browser.visit(url)

    time.sleep(1)

    html = browser.html
    soup = bs(html, "html.parser")
    
    articles = soup.find_all("div", class_="list_text")
    
    for article in articles:
        title = article.find('div', class_='content_title').text
        body = article.find('div', class_='article_teaser_body').text
        
        
    #browser.click_link_by_partial_text('Next')

In [15]:
def scrape_featured():
    browser=init_browser    
    
    feature = 'https://www.jpl.nasa.gov/spaceimages/details.php?id=PIA00271'
    browser.visit(feature)

def scrape_hemi1():
    browser=init_browser

    hemi1='https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
    browser.visit(hemi1)

def scrape_hemi2():
    browser=init_browser

    scrape_hemi2='https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
    browser.visit(hemi2)

def scrape_hemi3():
    browser=init_browser

    scrape_hemi3='https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
    browser.visit(hemi3)

def scrape_hemi4():
    browser=init_browser

    scrape_hemi4='https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'
    browser.visit(hemi4)

    # Store data in a dictionary
    #marsdict = {
        #"featured_img": featured_img,
        #"url2":
    #}

    

#browser.quit()

In [16]:
import pandas as pd        
url = 'https://space-facts.com/mars/'

In [17]:
tables = pd.read_html(url)
print(tables[0])

tables[2].head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [18]:
df=tables[0]
df.columns = ['Measure', 'Fact']
df.head()

                Measure                           Fact
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [19]:
df = df.iloc[1:]
df.set_index('Measure', inplace=True)
df.head()

                                          Fact
Measure
Polar Diameter:                       6,752 km
Mass:            6.39 × 10^23 kg (0.11 Earths)
Moons:                     2 (Phobos & Deimos)
Orbit Distance:       227,943,824 km (1.38 AU)
Orbit Period:             687 days (1.9 years)

In [20]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Fact</th>\n    </tr>\n    <tr>\n      <th>Measure</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Fact</th>    </tr>    <tr>      <th>Measure</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'